Repository h4nyu/alfs-appraisal: changes, and which Codecov flags are due for each by the changed paths.
All: core, server

codecov.yaml:

flags:
  # filter the folder(s) you wish to measure by that flag
  core:
    # only include files in the backend folder
    paths:
      - packages/core/
  server:
    paths:
      - packages/server/

add test-data
  test-data/point-valitaion.csv
Due: none

fix norm
  packages/core/point/index.spec.ts
  packages/core/point/index.ts
Due: core

fix type
  packages/server/package.json
  packages/server/routes/index.ts
  packages/web/App.tsx
  packages/web/index.html
  packages/web/package.json
  packages/web/pages/MainPage.tsx
  packages/web/pages/WorkspacePage/AssignTagFormPage.tsx
  packages/web/pages/WorkspacePage/BoxPage.tsx
  packages/web/pages/WorkspacePage/PointPage/index.tsx
  packages/web/pages/WorkspacePage/RefLinePage.tsx
  packages/web/pages/WorkspacePage/TagFormPage.tsx
  packages/web/pages/WorkspacePage/index.tsx
  packages/web/store/index.ts
  yarn.lock
Due: server

use swr
  packages/web/App.tsx
  packages/web/api.ts
  packages/web/components/Loading.tsx
  packages/web/package.json
  packages/web/pages/MainPage.tsx
  packages/web/pages/WorkspacePage/index.tsx
  yarn.lock
Due: none

upadate workspace form
  Dockerfile
  packages/web/components/WorkspaceForm/index.stories.tsx
  packages/web/components/WorkspaceForm/index.tsx
  packages/web/package.json
  packages/web/pages/WorkspacePage/index.tsx
  yarn.lock
Due: none

fix
  packages/web/App.tsx
  packages/web/api.ts
  packages/web/components/Header.tsx
  packages/web/pages/MainPage.tsx
  packages/web/pages/WorkspacePage/BoxPage.tsx
  packages/web/pages/WorkspacePage/index.tsx
Due: none

swr
  packages/web/api.ts
  packages/web/pages/WorkspacePage/AssignTagFormPage.tsx
  packages/web/pages/WorkspacePage/BoxPage.tsx
  packages/web/pages/WorkspacePage/index.tsx
  packages/web/store/AssignTagForm.ts
Due: none

?
  packages/web/pages/WorkspacePage/BoxPage.tsx
  packages/web/pages/WorkspacePage/index.tsx
Due: none

?
  packages/web/pages/WorkspacePage/BoxPage.tsx
Due: none

restore assign
  packages/web/pages/WorkspacePage/AssignTagFormPage.tsx
Due: none

?
  packages/web/components/AssignTagForm.tsx
  packages/web/pages/WorkspacePage/AssignTagFormPage.tsx
Due: none

fix reflines
  packages/api/box.ts
  packages/core/box/index.ts
  packages/server/routes/box.ts
  packages/web/components/ReferenceForm/index.tsx
  packages/web/components/TagForm.tsx
  packages/web/pages/WorkspacePage/BoxPage.tsx
  packages/web/pages/WorkspacePage/ImagePage.tsx
  packages/web/pages/WorkspacePage/PointPage/index.tsx
  packages/web/pages/WorkspacePage/RefLinePage.tsx
  packages/web/pages/WorkspacePage/TagFormPage.tsx
  packages/web/pages/WorkspacePage/index.tsx
Due: core, server

reset?
  packages/web/components/PointForm/index.tsx
  packages/web/pages/WorkspacePage/BoxPage.stories.tsx
  packages/web/pages/WorkspacePage/BoxPage.tsx
  packages/web/pages/WorkspacePage/BoxPage/index.tsx
  packages/web/pages/WorkspacePage/PointPage.stories.tsx
  packages/web/pages/WorkspacePage/PointPage/index.tsx
  packages/web/pages/WorkspacePage/ReferenceBoxPage.tsx
  packages/web/pages/WorkspacePage/index.tsx
Due: none

drop store
  packages/web/App.tsx
  packages/web/components/CharPlot.stories.tsx
  packages/web/components/CropedBox.stories.tsx
  packages/web/components/Toast.tsx
  packages/web/connectors/Loading.tsx
  packages/web/connectors/Toast.tsx
  packages/web/pages/MainPage.tsx
  packages/web/pages/WorkspacePage.stories.tsx
  packages/web/pages/WorkspacePage/AssignTagFormPage.tsx
  packages/web/pages/WorkspacePage/BoxPage/index.tsx
  packages/web/pages/WorkspacePage/ImagePage.tsx
  packages/web/pages/WorkspacePage/ReferenceBoxPage.tsx
  packages/web/pages/WorkspacePage/TagFormPage.tsx
  packages/web/pages/WorkspacePage/index.tsx
  packages/web/store/AssignTagForm.ts
  packages/web/store/BoxStore.ts
  packages/web/store/FeatureForm.ts
  packages/web/store/FileStore.ts
  packages/web/store/ImageForm.ts
  packages/web/store/ImageProcess.ts
  packages/web/store/ImageStore.ts
  packages/web/store/LineForm.ts
  packages/web/store/PointStore.ts
  packages/web/store/TagForm.ts
  packages/web/store/TagStore.ts
  packages/web/store/WorkspaceForm.ts
  packages/web/store/WorkspaceStore.ts
  packages/web/store/index.ts
  packages/web/store/loading.ts
  packages/web/store/toast.ts
Due: none

drop mobx
  packages/web/package.json
  yarn.lock
Due: none

remove mobx
  packages/web/App.tsx
  packages/web/pages/MainPage.tsx
  packages/web/pages/WorkspacePage/ImagePage.tsx
  packages/web/pages/WorkspacePage/index.tsx
Due: none

?
  packages/web/components/Toast.tsx
Due: none

?
  .circleci/config.yml
Due: none

fix build
  .circleci/config.yml
Due: none

remove console
  packages/web/components/TagForm.tsx
Due: none

rename
  packages/api/box.ts
  packages/api/detect.ts
  packages/api/file.ts
  packages/api/image.ts
  packages/api/line.ts
  packages/api/point.ts
  packages/api/tag.ts
  packages/api/workspace.ts
  packages/web/hooks/useBoxPlot.ts
  packages/web/hooks/useImageForm.ts
  packages/web/hooks/useLinePlot.ts
  packages/web/hooks/usePointPlot.ts
Due: none

fix name
  packages/api/package.json
Due: none

replace
  packages/core/package.json
  packages/server/package.json
  packages/web/package.json
Due: core, server

?
  package.json
Due: none

redme
  README.md
Due: none

?
  packages/web/components/Loading.tsx
  packages/web/pages/WorkspacePage/BoxPage/index.tsx
  packages/web/pages/WorkspacePage/TagFormPage.tsx
  packages/web/pages/WorkspacePage/index.tsx
Due: none

?
  packages/web/components/PointForm/index.tsx
  packages/web/components/ReferenceForm/index.tsx
  packages/web/components/SvgCharPlot/index.tsx
  packages/web/hooks/usePointPlot.ts
  packages/web/pages/WorkspacePage/BoxPage/index.tsx
Due: none

fix reset
  packages/web/components/PointForm/index.tsx
  packages/web/hooks/usePointPlot.ts
  packages/web/pages/WorkspacePage/BoxPage/index.tsx
Due: none

fix reflesh
  packages/web/hooks/useSummaryPairs.tsx
  packages/web/pages/WorkspacePage/BoxPage/index.tsx
  packages/web/pages/WorkspacePage/ImagePage.tsx
  packages/web/pages/WorkspacePage/TagFormPage.tsx
Due: none

?
  packages/core/index.ts
  packages/core/tag/find.ts
  packages/server/store/tag.ts
  packages/web/App.tsx
  packages/web/components/CharPlot.tsx
  packages/web/pages/NotFoundPage.tsx
  packages/web/pages/WorkspacePage/BoxPage/index.tsx
  packages/web/pages/WorkspacePage/ImagePage.tsx
  packages/web/pages/WorkspacePage/ReferenceBoxPage.tsx
  packages/web/pages/WorkspacePage/TagFormPage.tsx
Due: core, server

31
  packages/core/line/index.ts
  packages/core/point/index.spec.ts
  packages/core/point/index.ts
  packages/web/components/SummaryTable.tsx
  packages/web/components/TagForm.tsx
  packages/web/hooks/useSummaryPairs.tsx
  packages/web/pages/WorkspacePage/TagFormPage.tsx
Due: core

merge boxes
  packages/web/pages/WorkspacePage/ImagePage.tsx
Due: none

fix
  packages/server/store/detect.ts
Due: server

fix layout
  README.md
Due: none

fix create page
  packages/web/App.tsx
  packages/web/pages/CreatePage.tsx
  packages/web/pages/MainPage.tsx
  packages/web/pages/WorkspacePage/index.tsx
Due: none
